 body {
  width: 90%;
	height: 90%;
	background-color: black;
}

.oneblock {
 background-color: #22B2E6; 
 width: 50%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:black;
}

.twoblock {
 background-color: #FE0101; 
 width: 30%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:black;
}

.threeblock {
 background-color: #A4ABD5 ; 
 width: 18.8%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:white;
}

.fourblock {
 background-color: #000000; 
 width: 50%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
}

.fiveblock {
 background-color: #008D34; 
 width: 49%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color: black;
}


p {
 padding-top: 80px;
    color: black;
}

.bottom {
  padding-top: 250px;
}
