 body {
  width: 90%;
	height: 90%;
	background-color: grey;
}

.oneblock {
 background-color: #d39b31; 
 width: 50%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:black;
}

.twoblock {
 background-color: #96782a; 
 width: 30%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:black;
}

.threeblock {
 background-color: #642a0b ; 
 width: 18.8%;
 min-height: 30%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color:white;
}

.fourblock {
 background-color: #000000; 
 width: 50%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
}

.fiveblock {
 background-color: #ffffff; 
 width: 49%;
 height: 70%;
 display: inline-block;
 font-family: Harrow, Impact;
 font-size: 30px;
 color: black;
}


p {
 padding-top: 80px;
    color: black;
}

.bottom {
  padding-top: 250px;
}
